.first_section .owl_first {
    display: block;
    margin: 0 auto;
  }
  .first_section .owl_first .item .card_image img {
    width: 100%;
    height: 670px;
    margin: auto;
    opacity: 0.29;
  }
  .first_section .owl_first .item {
      width: 100%;
      padding: 0;
      // margin: 0;
  }
  .first_section .container {
    max-width: 960px;
  }
  .first_section .owl_first .item .description {
    max-width: 960px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    text-align: center;
        h2{
            font-family: 'Playfair Display', serif;            
            @include font(32px, 600, normal);
        };
        .line {
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 1px;
            background-color: #00e0d0;
        };
        p {
            font-family: 'Roboto';
            @include font(14px, 400, 24px);
            letter-spacing: 0.7px;
            margin: 30px 0 50px;
        };
        .button {
            color: #00e0d0;
            font-family: "Hammersmith One", sans-serif;
            font-size: 16px; 
            padding: 10px 13px;
            border: 1px solid #00e0d0;
            &:hover {
                color: #ffffff;
                border: 1px solid #ffffff;
                transition: 0.5s ease-out;
            }
        }
  }
  .first_section .owl_first .owl-dots {
    display: block;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .first_section .owl_first .owl-dot {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 50%;
    margin: 0 4px;
    
  }
  .first_section .owl_first .owl-dot.active{
    background: #00e0d0;
  }
  .first_section .owl_first .owl-nav {
      display: none;
  }

  // seventh section

  .seventh_section .owl-carousel .item .description {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
      .text {
        opacity: 0.85;
        font-family: "Playfair Display";
        @include font(16px, 400, 26px)
      };
      .position{
        opacity: 0.7;
        font-size: 13px;
      };
      .name {
        line-height: 22px;
        text-transform: uppercase;
      }
}
// carousel

.bookmarks {
  ul {
    display: block;
    padding: 5px 0;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, -50%);
    @media (max-width: 767px) {
      width: 120px;
    }
    @media (min-width: 480px) and (max-width: 767px) {
      width: 180px;
    }
    li {
      display: inline-block;
      margin: 0 10px; 
      cursor: pointer;
      @media (max-width: 767px) {
        padding: 11px 11px;
        font-size: 12px;
        text-align: center;
        display: none;
      }
      &.active {
        border: 3px solid #00e0d0;
        border-radius: 50%;
        @media (max-width: 767px) {
          display: block;
          
        }
      }
    }
  }
}
.seventh_section #carousel .owl-nav {
  .owl-prev {
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -58px;
    left: 39.5%;
    &:focus {
      outline: 0;
      border-left: 2px solid #00e0d0;
      border-bottom: 2px solid #00e0d0;
      border-top: transparent;
      border-right: transparent;
    }
  };
  .owl-next {
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    width: 17px;
    height: 17px;
    transform: rotate(-135deg);
    position: absolute;
    bottom: -58px;
    right: 39.5%;
    &:focus {
      outline: 0;
      border-left: 2px solid #00e0d0;
      border-bottom: 2px solid #00e0d0;
      border-top: transparent;
      border-right: transparent;
    }
  };
}
.seventh_section .owlExample {
  .item {
    @include flex(center, initial);
    margin: 0 auto;
  }
  .owl-controls {
    position: absolute;
    top: 60px;
    width: 100%;
    @media (max-width: 767px) {
      top: -90px;
    }
    .owl-nav {
      div {
        position: absolute;
        bottom: 0;
        font: {
          family: 'Arial';
          size: 30px;
        }
        letter-spacing: .5px;
        text-transform: uppercase;
        transition: all .4s linear;
        @media (max-width: 767px) {
          font-size: 16px;
        }
        &:hover {
          letter-spacing: 2px;
          color: #ff1053;
        }
        &.owl-prev {
          font-size: 20px;
          left: 50px;
          @media (max-width: 767px) {
            left: 20px;
          }
        }
        &.owl-next {
          right: 50px;
          @media (max-width: 767px) {
            right: 20px;
          }
        }
      }
    }
  }
}